<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.final_project">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hippopotamus"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/hippopotamus"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Winner"></activity>
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LocalGameActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Information"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ControllerLanGameActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LanGameActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".controller.BackgroundMusic"
            android:enabled="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>